@using kanavrt.Model
@using kanavrt.Model.Settings.Grid.Table

@inherits AbstractTableView

@inject KanaModel kanaModel

@code {
	AbstractTableModel letters = new DiacriticDigraphTableModel();
}

@{
	int index = 0;
}

	<tr id="character-line-one" class="character-line">
		<td class="character-data" id="diacritic-toggle-data">
			<InputCheckbox Value='@isDiacritic' ValueExpression='() => isDiacritic' ValueChanged='(bool c) => toggleDiacritic(c)' id="diacritic-toggle-label" class="toggle-input special-toggle-input" style="display: none;" />
		<label for="diacritic-toggle-label" id="diacritic-toggle-label" class="toggle-label special-toggle-label" title="toggle diacritics (dakuten, handakuten)">&#x309b;&#x309c;</label>
		</td>

		<td class="character-data vowel-data" id="YA-line-toggle-data">
			<InputCheckbox Value='@lineVowelsState(letters, 0)' ValueExpression='() => letters.VowelsLineLookup[0]' ValueChanged='(bool c) => toggleVowelsLine(letters, c, 0)' id='YA-line-toggle-input' class="toggle-input special-toggle-input" style="display: none;" />
			<label for="YA-line-toggle-input" id="YA-line-toggle-label" class="toggle-label special-toggle-label" title="toggle YA-line">YA</label>
		</td>

		<td class="character-data vowel-data" id="YU-line-toggle-data">
			<InputCheckbox Value='@lineVowelsState(letters, 1)' ValueExpression='() => letters.VowelsLineLookup[1]' ValueChanged='(bool c) => toggleVowelsLine(letters, c, 1)' id='YU-line-toggle-input' class="toggle-input special-toggle-input" style="display: none;" />
			<label for="YU-line-toggle-input" id="YU-line-toggle-label" class="toggle-label special-toggle-label" title="toggle YU-line">YU</label>
		</td>

		<td class="character-data vowel-data" id="YO-line-toggle-data">
			<InputCheckbox Value='@lineVowelsState(letters, 2)' ValueExpression='() => letters.VowelsLineLookup[2]' ValueChanged='(bool c) => toggleVowelsLine(letters, c, 2)' id='YO-line-toggle-input' class="toggle-input special-toggle-input" style="display: none;" />
			<label for="YO-line-toggle-input" id="YO-line-toggle-label" class="toggle-label special-toggle-label" title="toggle YO-line">YO</label>
		</td>
	</tr>

	<tr id="character-line-two" class="character-line">
		<td class="character-data" id="consonants-toggle-data">
			<InputCheckbox Value='@consonantsState(letters)' ValueExpression='() => letters.isConsonants' ValueChanged='(bool c) => toggleConsonants(letters, c)' id="consonants-toggle-label" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="consonants-toggle-label" id="consonants-toggle-label" class="toggle-label special-toggle-label" title="toggle consonants">c:</label>
		</td>
	</tr>

	<tr id="character-line-three" class="character-line">
		<td class="character-data" id="G-line-toggle-data">
			<InputCheckbox Value='@lineConsonantsState(letters, 0)' ValueExpression='() => letters.ConsonantsLineLookup[0]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 0)' id="G-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="G-line-toggle-input" id="G-line-toggle-label" class="toggle-label special-toggle-label" title="toggle G-line">G</label>
		</td>


		@{
			string[] gLine = ["GYA", "GYU", "GYO",];
			index = 0;

			foreach (string kana in letters.ConsonantsLineSetLookup[0]) {
				int i = index;
				<td class="character-data character" id="@(gLine[i])-toggle-data">
					<input type="checkbox" name="@(gLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(gLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
					<label for="@(gLine[i])-toggle-label" id="@(gLine[i])-toggle-label" class="toggle-label character-toggle-label" title="@(kanaModel.lookup[kana].Pronunciation)">@kana</label>
				</td>

				index++;
			}
		}
	</tr>

	<tr id="character-line-four" class="character-line">
		<td class="character-data" id="Z-line-toggle-data">
			<InputCheckbox Value='@lineConsonantsState(letters, 1)' ValueExpression='() => letters.ConsonantsLineLookup[1]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 1)' id="Z-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="Z-line-toggle-input" id="Z-line-toggle-label" class="toggle-label special-toggle-label" title="toggle Z-line">Z</label>
		</td>


		@{
			string[] zLine = ["ZYA", "ZYU", "ZYO",];
			index = 0;

			foreach (string kana in letters.ConsonantsLineSetLookup[1]) {
				int i = index;
				<td class="character-data character" id="@(zLine[i])-toggle-data">
					<input type="checkbox" name="@(zLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(zLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
					<label for="@(zLine[i])-toggle-label" id="@(zLine[i])-toggle-label" class="toggle-label character-toggle-label" title="@(kanaModel.lookup[kana].Pronunciation)">@kana</label>
				</td>

				index++;
			}
		}
	</tr>

	<tr id="character-line-five" class="character-line">
		<td class="character-data" id="D-line-toggle-data">
			<InputCheckbox Value='@lineConsonantsState(letters, 2)' ValueExpression='() => letters.ConsonantsLineLookup[2]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 2)' id="D-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="D-line-toggle-input" id="D-line-toggle-label" class="toggle-label special-toggle-label" title="toggle D-line">D</label>
		</td>


		@{
			string[] dLine = ["DYA", "DYU", "DYO",];
			index = 0;

			foreach (string kana in letters.ConsonantsLineSetLookup[2]) {
				int i = index;
				<td class="character-data character" id="@(dLine[i])-toggle-data">
					<input type="checkbox" name="@(dLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(dLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
					<label for="@(dLine[i])-toggle-label" id="@(dLine[i])-toggle-label" class="toggle-label character-toggle-label" title="@(kanaModel.lookup[kana].Pronunciation)">@kana</label>
				</td>

				index++;
			}
		}
	</tr>

	<tr id="character-line-six" class="character-line">
		<td class="character-data" id="N-line-toggle-data">
			<label for="N-line-toggle-label" id="N-line-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">N</label>
		</td>

		<td class="character-data character" id="NYA-toggle-data">
			<label for="NYA-toggle-label" id="NYA-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x306B;&#x3083;</label>
		</td>

		<td class="character-data character" id="NYU-toggle-data">
			<label for="NYU-toggle-label" id="NYU-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x306B;&#x3085;</label>
		</td>

		<td class="character-data character" id="NYO-toggle-data">
			<label for="NYO-toggle-label" id="NYO-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x306B;&#x3087;</label>
		</td>
	</tr>

	<tr id="character-line-seven" class="character-line">
		<td class="character-data" id="B-line-toggle-data">
			<InputCheckbox Value='@lineConsonantsState(letters, 3)' ValueExpression='() => letters.ConsonantsLineLookup[3]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 3)' id="B-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="B-line-toggle-input" id="B-line-toggle-label" class="toggle-label special-toggle-label" title="toggle B-line">B</label>
		</td>


		@{
			string[] bLine = ["BYA", "BYU", "BYO",];
			index = 0;

			foreach (string kana in letters.ConsonantsLineSetLookup[3]) {
				int i = index;
				<td class="character-data character" id="@(bLine[i])-toggle-data">
					<input type="checkbox" name="@(bLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(bLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
					<label for="@(bLine[i])-toggle-label" id="@(bLine[i])-toggle-label" class="toggle-label character-toggle-label" title="@(kanaModel.lookup[kana].Pronunciation)">@kana</label>
				</td>

				index++;
			}
		}
	</tr>

	<tr id="character-line-eight" class="character-line">
		<td class="character-data" id="P-line-toggle-data">
			<InputCheckbox Value='@lineConsonantsState(letters, 4)' ValueExpression='() => letters.ConsonantsLineLookup[4]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 4)' id="P-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="P-line-toggle-input" id="P-line-toggle-label" class="toggle-label special-toggle-label" title="toggle P-line">P</label>
		</td>


		@{
			string[] pLine = ["PYA", "PYU", "PYO",];
			index = 0;

			foreach (string kana in letters.ConsonantsLineSetLookup[4]) {
				int i = index;
				<td class="character-data character" id="@(pLine[i])-toggle-data">
					<input type="checkbox" name="@(pLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(pLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
					<label for="@(pLine[i])-toggle-label" id="@(pLine[i])-toggle-label" class="toggle-label character-toggle-label" title="@(kanaModel.lookup[kana].Pronunciation)">@kana</label>
				</td>

				index++;
			}
		}
	</tr>

	<tr id="character-line-nine" class="character-line">
		<td class="character-data" id="M-line-toggle-data">
			<label for="M-line-toggle-label" id="M-line-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">M</label>
		</td>

		<td class="character-data character" id="MYA-toggle-data">
			<label for="MYA-toggle-label" id="MYA-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x307F;&#x3083;</label>
		</td>

		<td class="character-data character" id="MYU-toggle-data">
			<label for="MYU-toggle-label" id="MYU-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x307F;&#x3085;</label>
		</td>

		<td class="character-data character" id="MYO-toggle-data">
			<label for="MYO-toggle-label" id="MYO-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x307F;&#x3087;</label>
		</td>
	</tr>

	<tr id="character-line-ten" class="character-line">

	</tr>

	<tr id="character-line-eleven" class="character-line">
		<td class="character-data" id="R-line-toggle-data">
			<label for="R-line-toggle-label" id="R-line-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">R</label>
		</td>

		<td class="character-data character" id="RYA-toggle-data">
			<label for="RYA-toggle-label" id="RYA-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x308A;&#x3083;</label>
		</td>

		<td class="character-data character" id="RYU-toggle-data">
			<label for="RYU-toggle-label" id="RYU-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x308A;&#x3085;</label>
		</td>

		<td class="character-data character" id="RYO-toggle-data">
			<label for="RYO-toggle-label" id="RYO-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x308A;&#x3087;</label>
		</td>
	</tr>
