@using kanavrt.Model
@using kanavrt.Model.Settings.Grid.Table

@inherits AbstractTableView

@code {
	AbstractTableModel letters = new DiacriticMonographTableModel();
}

@{
	int index = 0;
}

<table id="character-set-table">
	<tr id="character-line-one" class="character-line">
		<td class="character-data" id="diacritic-toggle-data">
			<InputCheckbox Value='@isDiacritic' ValueExpression='() => isDiacritic' ValueChanged='(bool c) => toggleDiacritic(c)' id="diacritic-toggle-label" class="toggleinput special-toggle-input" style="display: none;" />
			<label for="diacritic-toggle-label" id="diacritic-toggle-label" class="toggle-label special-toggle-label">^</label>
		</td>

		<td class="character-data" id="consonants-toggle-data">
			<InputCheckbox Value='@consonantsState(letters)' ValueExpression='() => letters.isConsonants' ValueChanged='(bool c) => toggleConsonants(letters, c)'id="consonants-toggle-label" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="consonants-toggle-label" id="consonants-toggle-label" class="toggle-label special-toggle-label">c:</label>
		</td>

		<td class="character-data" id="A-line-toggle-data">
			<InputCheckbox Value='@lineVowelsState(letters, 0)' ValueExpression='() => letters.VowelsLineLookup[0]' ValueChanged='(bool c) => toggleVowelsLine(letters, c, 0)' id='A-line-toggle-input' class="toggle-input special-toggle-input" style="display: none;" />
			<label for="A-line-toggle-input" id="A-line-toggle-label" class="toggle-label special-toggle-label">A</label>
		</td>

		<td class="character-data" id="I-line-toggle-data">
			<InputCheckbox Value='@lineVowelsState(letters, 1)' ValueExpression='() => letters.VowelsLineLookup[1]' ValueChanged='(bool c) => toggleVowelsLine(letters, c, 1)' id='I-line-toggle-input' class="toggle-input special-toggle-input" style="display: none;" />
			<label for="I-line-toggle-input" id="I-line-toggle-label" class="toggle-label special-toggle-label">I</label>
		</td>

		<td class="character-data" id="U-line-toggle-data">
			<InputCheckbox Value='@lineVowelsState(letters, 2)' ValueExpression='() => letters.VowelsLineLookup[2]' ValueChanged='(bool c) => toggleVowelsLine(letters, c, 2)' id='U-line-toggle-input' class="toggle-input special-toggle-input" style="display: none;" />
			<label for="U-line-toggle-input" id="U-line-toggle-label" class="toggle-label special-toggle-label">U</label>
		</td>

		<td class="character-data" id="E-line-toggle-data">
			<InputCheckbox Value='@lineVowelsState(letters, 3)' ValueExpression='() => letters.VowelsLineLookup[3]' ValueChanged='(bool c) => toggleVowelsLine(letters, c, 3)' id='E-line-toggle-input' class="toggle-input special-toggle-input" style="display: none;" />
			<label for="E-line-toggle-input" id="E-line-toggle-label" class="toggle-label special-toggle-label">E</label>
		</td>

		<td class="character-data" id="O-line-toggle-data">
			<InputCheckbox Value='@lineVowelsState(letters, 4)' ValueExpression='() => letters.VowelsLineLookup[4]' ValueChanged='(bool c) => toggleVowelsLine(letters, c, 4)' id='O-line-toggle-input' class="toggle-input special-toggle-input" style="display: none;" />
			<label for="O-line-toggle-input" id="O-line-toggle-label" class="toggle-label special-toggle-label">O</label>
		</td>
	</tr>

	<tr id="character-line-two" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="vowels-toggle-data">
			<label for="vowels-toggle-label" id="vowels-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">v:</label>
		</td>

		<td class="character-data" id="A-toggle-data">
			<label for="A-toggle-label" id="A-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3042;</label>
		</td>

		<td class="character-data" id="I-toggle-data">
			<label for="I-toggle-label" id="I-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3044;</label>
		</td>

		<td class="character-data" id="U-toggle-data">
			<label for="U-toggle-label" id="U-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3046;</label>
		</td>

		<td class="character-data" id="E-toggle-data">
			<label for="E-toggle-label" id="E-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3048;</label>
		</td>

		<td class="character-data" id="O-toggle-data">
			<label for="O-toggle-label" id="O-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x304a;</label>
		</td>
	</tr>

	<tr id="character-line-three" class="character-line">
			<td class="character-data"></td>

			<td class="character-data" id="G-line-toggle-data">
				<InputCheckbox Value='@lineConsonantsState(letters, 0)' ValueExpression='() => letters.ConsonantsLineLookup[0]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 0)' id="G-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
				<label for="G-line-toggle-input" id="G-line-toggle-label" class="toggle-label special-toggle-label">G</label>
			</td>

			@{
				string[] gLine = ["GA", "GI", "GU", "GE", "GO",];
				index = 0;

				foreach (string kana in letters.ConsonantsLineSetLookup[0]) {
					int i = index;
					<td class="character-data" id="@(gLine[i])-toggle-data">
						<input type="checkbox" name="@(gLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(gLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
						<label for="@(gLine[i])-toggle-label" id="@(gLine[i])-toggle-label" class="toggle-label character-toggle-label">@kana</label>
					</td>

					index++;
				}
			}
	</tr>

	<tr id="character-line-four" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="Z-line-toggle-data">
			<InputCheckbox Value='@lineConsonantsState(letters, 1)' ValueExpression='() => letters.ConsonantsLineLookup[1]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 1)' id="Z-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="Z-line-toggle-input" id="Z-line-toggle-label" class="toggle-label special-toggle-label">Z</label>
		</td>

		@{
			string[] zLine = ["GA", "GI", "GU", "GE", "GO",];
			index = 0;

			foreach (string kana in letters.ConsonantsLineSetLookup[1]) {
				int i = index;
				<td class="character-data" id="@(zLine[i])-toggle-data">
					<input type="checkbox" name="@(zLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(zLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
					<label for="@(zLine[i])-toggle-label" id="@(zLine[i])-toggle-label" class="toggle-label character-toggle-label">@kana</label>
				</td>

				index++;
			}
		}
	</tr>

	<tr id="character-line-five" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="D-line-toggle-data">
			<InputCheckbox Value='@lineConsonantsState(letters, 2)' ValueExpression='() => letters.ConsonantsLineLookup[2]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 2)' id="D-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="D-line-toggle-input" id="D-line-toggle-label" class="toggle-label special-toggle-label">D</label>
		</td>

		@{
			string[] dLine = ["DA", "DI", "DU", "DE", "DO",];
			index = 0;

			foreach (string kana in letters.ConsonantsLineSetLookup[2]) {
				int i = index;
				<td class="character-data" id="@(dLine[i])-toggle-data">
					<input type="checkbox" name="@(dLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(dLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
					<label for="@(dLine[i])-toggle-label" id="@(dLine[i])-toggle-label" class="toggle-label character-toggle-label">@kana</label>
				</td>

				index++;
			}
		}
	</tr>

	<tr id="character-line-six" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="N1-line-toggle-data">
			<label for="N1-line-toggle-label" id="N1-line-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">N</label>
		</td>

		<td class="character-data" id="NA-toggle-data">
			<label for="NA-toggle-label" id="NA-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x306a;</label>
		</td>

		<td class="character-data" id="NI-toggle-data">
			<label for="NI-toggle-label" id="NI-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x306b;</label>
		</td>

		<td class="character-data" id="NU-toggle-data">
			<label for="NU-toggle-label" id="NU-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x306c;</label>
		</td>

		<td class="character-data" id="NE-toggle-data">
			<label for="NE-toggle-label" id="NE-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x306d;</label>
		</td>

		<td class="character-data" id="NO-toggle-data">
			<label for="NO-toggle-label" id="NO-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x306e;</label>
		</td>
	</tr>

	<tr id="character-line-seven" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="B-line-toggle-data">
			<InputCheckbox Value='@lineConsonantsState(letters, 3)' ValueExpression='() => letters.ConsonantsLineLookup[3]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 3)' id="B-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="B-line-toggle-input" id="B-line-toggle-label" class="toggle-label special-toggle-label">B</label>
		</td>

		@{
			string[] bLine = ["BA", "BI", "BU", "BE", "BO",];
			index = 0;

			foreach (string kana in letters.ConsonantsLineSetLookup[3]) {
				int i = index;
				<td class="character-data" id="@(bLine[i])-toggle-data">
					<input type="checkbox" name="@(bLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(bLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
					<label for="@(bLine[i])-toggle-label" id="@(bLine[i])-toggle-label" class="toggle-label character-toggle-label">@kana</label>
				</td>

				index++;
			}
		}
	</tr>

	<tr id="character-line-eight" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="P-line-toggle-data">
			<InputCheckbox Value='@lineConsonantsState(letters, 4)' ValueExpression='() => letters.ConsonantsLineLookup[4]' ValueChanged='(bool c) => toggleConsonantsLine(letters, c, 4)' id="P-line-toggle-input" class="toggle-input special-toggle-input" style="display: none;" />
			<label for="P-line-toggle-input" id="P-line-toggle-label" class="toggle-label special-toggle-label">P</label>
		</td>

		@{
			string[] pLine = ["PA", "PI", "PU", "PE", "PO",];
			index = 0;

			foreach (string kana in letters.ConsonantsLineSetLookup[4]) {
				int i = index;
				<td class="character-data" id="@(pLine[i])-toggle-data">
					<input type="checkbox" name="@(pLine[i])-toggle-label" value="" checked="@characterState(kana)" id="@(pLine[i])-toggle-label" class="toggle-input character-toggle-input" style="display: none;" @onclick='() => toggleCharacter(kana)' />
					<label for="@(pLine[i])-toggle-label" id="@(pLine[i])-toggle-label" class="toggle-label character-toggle-label">@kana</label>
				</td>

				index++;
			}
		}
	</tr>

	<tr id="character-line-nine" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="M-line-toggle-data">
			<label for="M-line-toggle-label" id="M-line-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">M</label>
		</td>

		<td class="character-data" id="MA-toggle-data">
			<label for="MA-toggle-label" id="MA-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x307e;</label>
		</td>

		<td class="character-data" id="MI-toggle-data">
			<label for="MI-toggle-label" id="MI-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x307f;</label>
		</td>

		<td class="character-data" id="MU-toggle-data">
			<label for="MU-toggle-label" id="MU-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3080;</label>
		</td>

		<td class="character-data" id="ME-toggle-data">
			<label for="ME-toggle-label" id="ME-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3081;</label>
		</td>

		<td class="character-data" id="MO-toggle-data">
			<label for="MO-toggle-label" id="MO-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3082;</label>
		</td>
	</tr>

	<tr id="character-line-ten" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="Y-line-toggle-data">
			<label for="Y-line-toggle-label" id="Y-line-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">Y</label>
		</td>

		<td class="character-data" id="YA-toggle-data">
			<label for="YA-toggle-label" id="YA-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3084;</label>
		</td>

		<td class="character-data" id="YI-toggle-data">
		</td>

		<td class="character-data" id="YU-toggle-data">
			<label for="YU-toggle-label" id="YU-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3086;</label>
		</td>

		<td class="character-data" id="YE-toggle-data">
		</td>

		<td class="character-data" id="YO-toggle-data">
			<label for="YO-toggle-label" id="YO-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3088;</label>
		</td>
	</tr>

	<tr id="character-line-eleven" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="R-line-toggle-data">
			<label for="R-line-toggle-label" id="R-line-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">R</label>
		</td>

		<td class="character-data" id="RA-toggle-data">
			<label for="RA-toggle-label" id="RA-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3089;</label>
		</td>

		<td class="character-data" id="RI-toggle-data">
			<label for="RI-toggle-label" id="RI-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x308a;</label>
		</td>

		<td class="character-data" id="RU-toggle-data">
			<label for="RU-toggle-label" id="RU-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x308b;</label>
		</td>

		<td class="character-data" id="RE-toggle-data">
			<label for="RE-toggle-label" id="RE-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x308c;</label>
		</td>

		<td class="character-data" id="RO-toggle-data">
			<label for="RO-toggle-label" id="RO-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x308d;</label>
		</td>
	</tr>

	<tr id="character-line-twelve" class="character-line">
		<td class="character-data"></td>

		<td class="character-data" id="W-line-toggle-data">
			<label for="W-line-toggle-label" id="W-line-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">W</label>
		</td>

		<td class="character-data" id="WA-toggle-data">
			<label for="WA-toggle-label" id="WA-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x308f;</label>
		</td>

		<td class="character-data" id="WI-toggle-data">
			<label for="WI-toggle-label" id="WI-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3090;</label>
		</td>

		<td class="character-data" id="WU-toggle-data">
		</td>

		<td class="character-data" id="WE-toggle-data">
			<label for="WE-toggle-label" id="WE-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3091;</label>
		</td>

		<td class="character-data" id="WO-toggle-data">
			<label for="WO-toggle-label" id="WO-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3092;</label>
		</td>
	</tr>

	<tr id="character-line-thirteen" class="character-line">
		<td class="character-data" id="N-toggle-data">
			<label for="N-toggle-label" id="N-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">&#x3093;</label>
		</td>

		<td class="character-data" id="N-line-toggle-data">
			<label for="N-line-toggle-label" id="N-line-toggle-label" class="toggle-label special-toggle-label character-toggle-label-unset">N</label>
		</td>
	</tr>
</table>
