@page "/statistics"

@using kanavrt.Model.Statistics
@using kanavrt.Model.Settings.Grid.Table

@inject StatisticsModel statisticsModel

<PageTitle>Statistics | KANAVRT</PageTitle>

@code {
	MonographTableModel monographTableModel = new();
	DigraphTableModel digraphTableModel = new();
	DiacriticMonographTableModel diacriticMonographTableModel = new();
	DiacriticDigraphTableModel diacriticDigraphTableModel = new();
}

<article>
	<h4>KANA STATISITCS</h4>

	<section>
		<menu type="toolbar" id="statistics-menu">
			<li>
				<input type="checkbox" name="monograph-checkbox" id="monograph-checkbox" style="display: none;">
				<label for="monograph-checkbox">
					<div class="character-category">
						<div class="dropdown-icon">
							<img src="img/svg/statistics/caret-right-fill.svg" alt="" width="16" height="16">
						</div>

						<p>MONOGRAPHS</p>
					</div>

					@foreach (string kana in monographTableModel.VowelsSet) {
						int sum = statisticsModel.lookup[kana].Corrects + statisticsModel.lookup[kana].Wrongs;
						double bar = (sum == 0 ? 0 : (100.0 / sum) * statisticsModel.lookup[kana].Corrects) / 100;

						<div class='character-statistic @(sum == 0 ? "character-statistic-unset" : "")'>
							<p class="character">@(kana)</p>
							<div class="progress-bar">
								<p class="progress-bar-count">@(statisticsModel.lookup[kana].Corrects)</p>
								<div class="progress-bar-line" style="width: calc((100% - 4.5rem) * @(bar));"></div>
								<p class="progress-bar-count">@(statisticsModel.lookup[kana].Wrongs)</p>
							</div>
						</div>
					}

					@foreach (HashSet<string> set in monographTableModel.ConsonantsLineSetLookup) {
						@foreach (string kana in set) {
							int sum = statisticsModel.lookup[kana].Corrects + statisticsModel.lookup[kana].Wrongs;
							double bar = (sum == 0 ? 0 : (100.0 / sum) * statisticsModel.lookup[kana].Corrects) / 100;

							<div class='character-statistic @(sum == 0 ? "character-statistic-unset" : "")'>
								<p class="character">@(kana)</p>
								<div class="progress-bar">
									<p class="progress-bar-count">@(statisticsModel.lookup[kana].Corrects)</p>
									<div class="progress-bar-line" style="width: calc((100% - 4.5rem) * @(bar));"></div>
									<p class="progress-bar-count">@(statisticsModel.lookup[kana].Wrongs)</p>
								</div>
							</div>
						}
					}
				</label>
			</li>

			<li>
				<input type="checkbox" name="digraph-checkbox" id="digraph-checkbox" style="display: none;">
				<label for="digraph-checkbox">
					<div class="character-category">
						<div class="dropdown-icon">
							<img src="img/svg/statistics/caret-right-fill.svg" alt="" width="16" height="16">
						</div>

						<p>DIGRAPHS</p>
					</div>

					@foreach (HashSet<string> set in digraphTableModel.ConsonantsLineSetLookup) {
						@foreach (string kana in set) {
							int sum = statisticsModel.lookup[kana].Corrects + statisticsModel.lookup[kana].Wrongs;
							double bar = (sum == 0 ? 0 : (100.0 / sum) * statisticsModel.lookup[kana].Corrects) / 100;

							<div class='character-statistic @(sum == 0 ? "character-statistic-unset" : "")'>
								<p class="character">@(kana)</p>
								<div class="progress-bar">
									<p class="progress-bar-count">@(statisticsModel.lookup[kana].Corrects)</p>
									<div class="progress-bar-line" style="width: calc((100% - 4.5rem) * @(bar));"></div>
									<p class="progress-bar-count">@(statisticsModel.lookup[kana].Wrongs)</p>
								</div>
							</div>
						}
					}

				</label>
			</li>

			<li>
				<input type="checkbox" name="diacritic-monograph-checkbox" id="diacritic-monograph-checkbox" style="display: none;">
				<label for="diacritic-monograph-checkbox">
					<div class="character-category">
						<div class="dropdown-icon">
							<img src="img/svg/statistics/caret-right-fill.svg" alt="" width="16" height="16">
						</div>

						<p>DIACRITIC MONOGRAPHS</p>
					</div>

					@foreach (HashSet<string> set in diacriticMonographTableModel.ConsonantsLineSetLookup) {
						@foreach (string kana in set) {
							int sum = statisticsModel.lookup[kana].Corrects + statisticsModel.lookup[kana].Wrongs;
							double bar = (sum == 0 ? 0 : (100.0 / sum) * statisticsModel.lookup[kana].Corrects) / 100;

							<div class='character-statistic @(sum == 0 ? "character-statistic-unset" : "")'>
								<p class="character">@(kana)</p>
								<div class="progress-bar">
									<p class="progress-bar-count">@(statisticsModel.lookup[kana].Corrects)</p>
									<div class="progress-bar-line" style="width: calc((100% - 4.5rem) * @(bar));"></div>
									<p class="progress-bar-count">@(statisticsModel.lookup[kana].Wrongs)</p>
								</div>
							</div>
						}
					}
				</label>
			</li>

			<li>
				<input type="checkbox" name="diacritic-digraphs-checkbox" id="diacritic-digraphs-checkbox" style="display: none;">
				<label for="diacritic-digraphs-checkbox">
					<div class="character-category">
						<div class="dropdown-icon">
							<img src="img/svg/statistics/caret-right-fill.svg" alt="" width="16" height="16">
						</div>

						<p>DIACRITIC DIGRAPHS</p>
					</div>

					@foreach (HashSet<string> set in diacriticDigraphTableModel.ConsonantsLineSetLookup) {
						@foreach (string kana in set) {
							int sum = statisticsModel.lookup[kana].Corrects + statisticsModel.lookup[kana].Wrongs;
							double bar = (sum == 0 ? 0 : (100.0 / sum) * statisticsModel.lookup[kana].Corrects) / 100;

							<div class='character-statistic @(sum == 0 ? "character-statistic-unset" : "")'>
								<p class="character">@(kana)</p>
								<div class="progress-bar">
									<p class="progress-bar-count">@(statisticsModel.lookup[kana].Corrects)</p>
									<div class="progress-bar-line" style="width: calc((100% - 4.5rem) * @(bar));"></div>
									<p class="progress-bar-count">@(statisticsModel.lookup[kana].Wrongs)</p>
								</div>
							</div>
						}
					}
				</label>
			</li>
		</menu>
	</section>
</article>
